@import url(./tailwind.css);

*{
    transition: all .3s linear;
}

.container{
    max-width: 1280px;
}


.bg-green-300{
    background-color: rgb(74 222 128)
  }
  .bg-yellow-300{
    background-color: rgb(253 224 71);
  
  }
  .bg-red-300 {
    background-color: rgb(239 68 68);
  }
  .bg-purple-300{
    background-color: rgb(171, 91, 252)
  }
  .bg-orange-300{
    background-color: rgb(251 146 60)
  }
  .bg-maroon-300{
    background-color: #800000;
  }